.lead {
  padding: 56px 11.5% 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    padding: 48px 4.6% 0;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media (max-width: 420px) {
  .lead {
    padding: 48px 0 0;
  }
}
