.cover__subtitle {
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  align-self: center;
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 721px) and (max-width: 768px) {}

@media (min-width: 361px) and (max-width: 720px) {
  .cover__subtitle {
    max-width: 300px;
    font-size: 16px;
    line-height: 1.14;
  }
}


@media (max-width: 360px) {
  .cover__subtitle {
    max-width: 260px;
    font-size: 14px;
    line-height: 1.14;
  }
}