.place__paragraph {
  grid-area: paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 421px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media (max-width: 420px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}