.cover {
  padding: 96px 3.7% 0;
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 420px) and (max-width: 768px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media (max-width: 420) {
  .cover {
    padding: 66px 0 0;
  }
}