.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  
}

@media (min-width: 421px) and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media (max-width: 420px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}