.cover__centering {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: calc(50% - 125px);
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 720px) and (max-width: 768px) {}

@media (min-width: 420px) and (max-width: 719px) {
  .cover__centering {
    top: calc(50% - 91px);
    gap: 18px;
  }
}

@media (max-width: 420px) {
  .cover__centering {
    top: calc(50% - 67px);
    gap: 16px;
  }
}