.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 361px) and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 64px 16px 24px;
    flex-direction: column;
    gap: 48px;
  }
}